.container {
    // border: 1px solid magenta;  //temporary
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        background-color: $dark-blue;
        width: 88%;
        // height: 100px;  //temporary
        border-radius: 1.5rem;
        padding: 2.5rem;

        .star {
            background-color: $medium-grey;
            width: 4rem;
            height: 4rem;
            padding: 1.2rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 1.4rem;
            }
        }

        h1 {
            font-size: 2.4rem;
            color: $white;
            margin-top: 1.9rem;
        }

        .text {
            color: $light-grey;
        }

        rating-wrapper {
        
        }
    }
}
